{{#partial "content"}}
<h3>New team:</h3>
<form action="/add_team" method="post">
    <label>Name: </label>
    <input name="name">
    <label>Description: </label>
    <input name="description">

    <button type="submit">submit</button>
</form>
{{/partial}}
{{>layout.hbs}}