{{#partial "content"}}

<p></p><a href="/teams">list of teams</a></p>
<img src='/images/pic.jpg' alt='A photo.'/>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium fusce id velit ut tortor pretium viverra. Orci nulla pellentesque dignissim enim. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Pellentesque elit eget gravida cum sociis natoque. Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Tincidunt augue interdum velit euismod. Felis eget velit aliquet sagittis id consectetur purus ut. Eu non diam phasellus vestibulum. Eget lorem dolor sed viverra ipsum nunc aliquet. Vitae tortor condimentum lacinia quis vel. Ornare lectus sit amet est placerat in egestas erat. Faucibus vitae aliquet nec ullamcorper sit amet. Sit amet venenatis urna cursus.
</p>
<p>
    Est lorem ipsum dolor sit amet consectetur adipiscing. Nibh venenatis cras sed felis eget velit. Elementum nibh tellus molestie nunc non blandit massa. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Convallis tellus id interdum velit laoreet. Odio euismod lacinia at quis risus sed vulputate odio. A diam sollicitudin tempor id eu nisl nunc. Orci eu lobortis elementum nibh tellus molestie nunc non. Turpis egestas maecenas pharetra convallis posuere morbi leo urna. Dui nunc mattis enim ut tellus elementum sagittis vitae. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Sagittis purus sit amet volutpat. Mauris in aliquam sem fringilla ut.
</p>

{{/partial}}

{{> layout.hbs}}