{{#block "header"}}
<!doctype html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Hackathon</title>
</head>
<body>
{{/block}}
<div class="container">
    <h1>Hackathon</h1>
    <hr>
    {{#block "content"}}
    {{/block}}
</div>
{{#block "footer"}}
</body>
</html>
{{/block}}