{{#partial "content"}}
<h3>Change team:</h3>
<p>Old name: {{team.name}}</p>
<form action="/teams/update/{{team.id}}" method="post">
    <label>New name: </label>
    <input name="newName">

    <button type="submit">submit</button>
</form>
{{/partial}}
{{>layout.hbs}}